{{ paumr_ip }}:55001 /opt/psdoi_parsing/parsed_data/csv
{{ paumr_ip }}:55002 /opt/psdoi_parsing/parsed_data/cve_mitre
{{ paumr_ip }}:55003 /opt/psdoi_parsing/parsed_data/cwe_mitre
{{ paumr_ip }}:55004 /opt/psdoi_parsing/parsed_data/ibm_x_force
{{ paumr_ip }}:55005 /opt/psdoi_parsing/parsed_data/loC-hash
{{ paumr_ip }}:55006 /opt/psdoi_parsing/parsed_data/owasp
{{ paumr_ip }}:55008 /opt/psdoi_parsing/parsed_data/threats
{{ paumr_ip }}:55010 /opt/psdoi_parsing/parsed_data/capec
{{ paumr_ip }}:55011 /opt/psdoi_parsing/parsed_data/cve_cnvd
{{ paumr_ip }}:55012 /opt/psdoi_parsing/parsed_data/cve_nvd
{{ paumr_ip }}:55013 /opt/psdoi_parsing/parsed_data/exploit_db
{{ paumr_ip }}:55014 /opt/psdoi_parsing/parsed_data/ics_alert
{{ paumr_ip }}:55015 /opt/psdoi_parsing/parsed_data/nkcki_bulletins
{{ paumr_ip }}:55016 /opt/psdoi_parsing/parsed_data/positive_technologies
{{ paumr_ip }}:55018 /opt/psdoi_parsing/parsed_data/vulners
{{ paumr_ip }}:55019 /opt/psdoi_parsing/parsed_data/cisco_security_advisories
{{ paumr_ip }}:55020 /opt/psdoi_parsing/parsed_data/cve_debian
{{ paumr_ip }}:55021 /opt/psdoi_parsing/parsed_data/cve_redhat
{{ paumr_ip }}:55022 /opt/psdoi_parsing/parsed_data/huawei_bulletins
{{ paumr_ip }}:55023 /opt/psdoi_parsing/parsed_data/ics_vul
{{ paumr_ip }}:55025 /opt/psdoi_parsing/parsed_data/rootcheck
{{ paumr_ip }}:55026 /opt/psdoi_parsing/parsed_data/rhsa_cve_redhat/CVE
{{ paumr_ip }}:55027 /opt/psdoi_parsing/parsed_data/rhsa_cve_redhat/RHSA
{{ paumr_ip }}:55028 /opt/psdoi_parsing/parsed_data/bdu